@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

body{
     font-family: "Sansita", sans-serif;
}

.viewport-wrapper {
    width: 100%;
}

.slide-container {
    display: block;
    width: 100%;
}

.slide-page {
    width: 100%;
    min-height: 80vh;
    padding: 40px 20px;
    display: none;
}

.slide-page.active {
    display: block;
}